{% extends "default.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {{ beer.name }}{% endblock %}

{% block content %}
<div id="drink">
    <h1>{% trans "You've just been offered..." %}</h1>
    <img src="{{ picture.url }}" alt="{{ beer.name }}"/>
    <p>{% trans "a Beer over IP" %}</p>
</div>

<p>{% ifnotequal beer.slug "default" %}{% blocktrans %}more precisely: <em>{{ beer }}</em>{% endblocktrans %}{% endifnotequal %}</p>

{% if picture.credits %}
    <p class="copyright">{% trans "Credits:" %} {{ picture.credits }}</p>
{% endif %}

<p class="copyright"><a href="{{ beer.get_absolute_url }}">{% blocktrans %}A permalink to "{{ beer }}"{% endblocktrans %}</a></p>
{% endblock %}
