{% extends "default.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {{ beer.name }}{% endblock %}

{% block content %}
<div id="drink">
    <h1>{% trans "You've just been offered..." %}</h1>
    <img src="{{ beer.picture.url }}" alt="{{ beer.name }}"/>
    <p>{% trans "a Beer over IP" %}</p>
</div>

<p>{% ifnotequal beer.slug "default" %}{% blocktrans %}more precisely: <em>{{ beer }}</em>{% endblocktrans %}{% endifnotequal %}</p>

{% if beer.picture.credits %}
    <p class="copyright">{% trans "Credits:" %} {{ beer.picture.credits }}</p>
{% endif %}

{% endblock %}
