{% extends "default.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "The beer list" %}{% endblock %}

{% block content %}
<h1>{% trans "The beer list" %}</h1>

{% regroup object_list by initial as initial_list %}
{% for initial in initial_list %}
    <h2>{{ initial.grouper }}</h2>
    <ul>
        {% for beer in initial.list %}
        <li><a href="{% url beer_detail beer.slug %}">{{ beer.name }}</a></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}


<h2>{% trans "Special feature:" %}</h2>
<ul>
    <li><a href="{% url beer_random %}">{% trans "Random" %}</a></li>
</ul>

{% endblock %}
