{% extends "default_drink.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {{ drink.name }}{% endblock %}

{% block content %}
<div id="drink">
    <h1>{% trans "You've just been offered..." %}</h1>
    <img src="{{ picture.url }}" alt="{{ drink.name }}"/>
    <p>{% trans "a <del>Beer</del>Drink over IP" %}, {% ifnotequal drink.slug "default" %}{% blocktrans %}more precisely: <em>{{ drink }}</em>{% endblocktrans %}{% endifnotequal %}</p>

{% if picture.credits %}
    <p class="copyright">{% trans "Credits:" %} {{ picture.credits }}</p>
{% endif %}

</div>

{% endblock %}
