<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load i18n %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Beer over IP</title>
{% block styles %}
<style type="text/css">
    body {
        text-align: center;
    }
    .copyright {
        font-size: smaller;
    }
</style>
{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
<div id="footer"><p>
    <a href="/about/">{% trans "About" %}</a> |
    <a href="/all/">{% trans "List of all beers available" %}</a> |
    <a href="/random/">{% trans "Random" %}</a></p>
<p class="copyright">&copy; {% now "Y" %} Bruno Bord, aka No'<br />{% trans "Pictures are property of their authors, and are usually published under a Creative Commons License." %}</p></div>

{% if ANALYTICS_ID %}
<!-- Analytics -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{{ ANALYTICS_ID }}");
pageTracker._trackPageview();
</script>
{% endif %}
</body>
</html>
